[Unit]
Description=Redshift display colour temperature adjustment (GUI)
Documentation=http://jonls.dk/redshift/
#Wants=xsession.target
After=xsession.target

[Service]
ExecStart=/usr/bin/redshift-gtk
Restart=always
RestartSec=2

[Install]
#WantedBy=xsession.target
