[user]
	name = jimver
	email = jim.verheijde@hotmail.com
	signingkey = 1B40EB1647A951EE
[commit]
	gpgsign = true

[includeIf "gitdir:/home/jim/work/"]
    [user]
        email = "jim@polygon.nl"
	name = Jim Verheijde
	signingkey = 5F9B0E00138E775F
    [core]
        sshCommand = "ssh -i ~/.ssh/work_key"
	autocrlf = input

