*
!.gitignore
!.nanorc
!.xbindkeysrc
!.xinitrc
!.zshrc
!.zprofile
!.config/
!/.config/alacritty/
!/.config/alacritty/**
!/.config/awesome/
!/.config/awesome/**
!/.config/glava/
!/.config/glava/**
!/.config/fusuma/
!/.config/fusuma/**
!/.config/compton.conf
!/.config/neofetch/
!/.config/neofetch/**
