*
!.gitignore
!.gitconfig
!.nanorc
!.xbindkeysrc
!.xinitrc
!.zshrc
!.zprofile
!scripts/
!scripts/**
!.config/
!/.config/alacritty/
!/.config/alacritty/**
!/.config/awesome/
!/.config/awesome/**
!/.config/glava/
!/.config/glava/**
!/.config/fusuma/
!/.config/fusuma/**
!/.config/compton.conf
!/.config/neofetch/
!/.config/neofetch/**
!/.config/redshift/
!/.config/redshift/**
!/.config/rofi/
!/.config/rofi/**
!/.config/systemd/
!/.config/systemd/**
